modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libiconv", "libxcrypt", "openssl", "pkg-config", "qhull", "rustc", "tcl", "tk", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35069
externalPort = 3003

[[ports]]
localPort = 35541
externalPort = 3001

[[ports]]
localPort = 38237
externalPort = 3002

[[ports]]
localPort = 38845
externalPort = 3000

[[ports]]
localPort = 42593
externalPort = 4200

[agent]
integrations = ["github:1.0.0"]
